header {
    display: block;
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

fieldset.vertical-radio-button-group {
    display: float;
    float: left;
}

fieldset.horizontal-radio-button-group {
    clear: left;
    display: block;
}

body {
    font-family: sans-serif;
}

nav a {
    float: left;
    background-color: paleturquoise;
    color: darkslategray;
    
    margin: 1em;
    padding: 1em;
}

nav a:visited {
    color: darkslategray
}

h1 {
    margin: auto;
}

footer {
    margin-top: 2em;
}

label {
	display: inline;
	margin: .5em;
}

input.inline-radio-button {
    display: inline;
}

p.radio-option {
    display: block;
}

input {
	display: block;
	margin: .5em;
}
