header {
    display: block;
    overflow: auto;
}



body {
    font-family: sans-serif;
}

nav a {
    float: left;
    background-color: paleturquoise;
    color: darkslategray;
    
    margin: 1em;
    padding: 1em;
}

nav a:visited {
    color: darkslategray
}

h1 {
    margin: auto;
}

footer {
    margin-top: 2em;
}
