{{define "content"}}
<p>Welcome to Unmastered, the site for my electronic music works in progress! Check out my mixes, using the multitrack web player to strip them back for jamming or study. Submit your own remixes or check out other people's! Or find out more about me.</p>
{{end}}
