{{define "content"}}
    <h2>{{.RemixTitle}}</h2>
    <h3>by {{.RemixProducer}}, based off {{.RemixBase}}</h3>
    <p>Link: {{.RemixLink}}</p>
    <p>{{.RemixProducersNotes}}</p>
    <p>{{.RemixCuratorsNotes}}</p>
{{end}}
