{{define "content"}}
<p>I'm a bass player who trained in jazz at Newpark Music Centre and the Conservatorium van Amsterdam, yet always nurtured a love for the groovier end - blues, funk, hip hop and dance music. When I quit live performance for two years starting in 2019, I immersed myself in music production, first with free and cheap tools like Reaper, and then with some cheap hardware too. I knew I wanted to find a way of making music that was about pleasure and rhythmic entrainment. This indulgent mood shows itself in song titles reflecting nostalgic preoccupations of mine (such as old-school PC gaming). The multitrack mixes on this site are an open invitation to join me in an intimate space of collaboration and play.</p>
<p>If you are moved to, you can answer that call by downloading the components of any mix and creating your own remix. Submit a link to your remix via the form and (once I check that it's not spam), it will feature in the remixes page!<p>
{{end}}
