<header>
    <h1>Unmastered</h1>
    <h2>{{block "title" .}}Title{{end}}</h2>
    <nav>
        <a href="/projects">Projects</a>
        <a href="/announcements">Announcements</a>
        <a href="/scores">Scores</a>
        <a href="/samplepacks">Sample Packs</a>
        <a href="/multitracks">Multitracks</a>
        <a href="/scores">Scores</a>
        <a href="/about">About</a>
    </nav>
</header>
