<!DOCTYPE html>
<html>
    <head>
        <title>{{block "title" .}}Unmastered{{end}}</title>
        <link href="/css/app.css" rel="stylesheet" />
        {{block "styles" .}}{{end}}
    </head>
    {{block "header.gohtml" .}}{{end}}
    <body>
        {{template "content" .}}
        {{block "scripts" .}}{{end}}
    </body>
    {{block "footer.gohtml" .}}{{end}}
</html>
